:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --secondary-background-color: #2f303a;
  --primary-background-color: #f5f4fa;
  --button-background-color: #188ce8;
}

body {
  color: var(--title-text-color);
  background-color: var(--white-text-color);
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}

ul {
  list-style: none;
}

/*logo*/

.main-logo {
  display: flex;
  margin-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  color: var(--title-text-color);
}

.logo:focus {
  color: var(--white-text-color);
}
.accent {
  color: var(--accent-text-color);
}
.logo,
.accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo-lg {
  color: var(--white-text-color);
}

.accent {
  color: var(--accent-text-color);
}
.logo-lg,
.accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

/*header*/

.container-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: auto;
  padding: 0;
}

/*contacts*/

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0;
  margin: 0;
}
 .item {
  margin-left: 50px;
}

.contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-text-color);
}

/*page-studio*/

/*navigation*/

.site-nav .link.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1px;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  text-decoration: none;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1px;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  text-decoration: none;
}
.site-nav .link. {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

/*hero*/

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--white-text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
}

.btn {
  text-align: center;
  border-radius: 4px;
  text-align: center;
  padding: 10px 32px;
  display: inline-block;
  width: 216px
  height: 50px
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
  background: var(--button-background-color);
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*section*/

h1,
h2,
h3,
p {
  margin: 0;
}



.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}

.items-cnt {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.item-title {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.item-title:nth-child(4n) {
  margin-right: 0;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

/*чим ми займаэмося*/
.photo-image {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 0;
}
.image-img {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.image-img:nth-child(3n) {
  margin-right: 0;
}

/*team*/

.section-team {
  background-color: var(--primary-background-color);
}

.image {
  background-color: var(--white-text-color);
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.image:nth-child(4n) {
  margin-right: 0;
}

.photo {
  display: block;
  max-width: 100%;
}

.name-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.list-team {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.all-team {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}


.footer {
  background-color: var(--secondary-background-color);
}

.address {
  font-style: normal;
}

.address-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  text-decoration: none;
}

/*page-portfolio*/

/*name-services*/

.service-name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.service-text {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* buttons */

.button-list {
  display: inline-block;
  text-align: center;
}
.name-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--primary-background-color);
  color: var(--title-text-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.name-button:hover,
.name-button:focus {
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
}
